node_modules
.githooks
.vscode
npm-debug.log
.dockerignore
.gitignore
.git
.env.live
.env.local
.env.sandbox
.env_local
.env_staging
.env_server
docker-compose.yml
Jenkinsfile
Dockerfile
README.md
store
test
tmp


